TOTEAT_BASE_URL=https://api.toteat.com/mw/or/1.0
TOTEAT_XIR=
TOTEAT_XIL=1
TOTEAT_XIU=1001
TOTEAT_API_TOKEN=
PGHOST=localhost
PGPORT=5432
PGDATABASE=la_coffeeteria
PGUSER=leatoagent
PGPASSWORD=
TZ=America/Santiago
